* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgrey;
}

.front-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}
#timer-box {
    width: 100%;
    height: 30px;
    margin: 15px auto;
    position: relative;
    text-align: center;
}
#count {
    background: black;
    color: white;
    border-radius: 20px;
}
#clock {
    background: black;
    color: red;
}

#quiz-box { 
    width: 500px;
    height: 100%;
    margin: 100px auto;
    position: relative;
}
#quiz-box h2 {
    background: rgb(22, 68, 11);
    margin: 0;
    padding: 0;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}
#begin button {
    background: red;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 220px;
    align-items: center;
}
#begin button:hover {
    transition: .4s;
    background-color: black;
    color: white;
    transform: scale(1.2);
    box-shadow: 0px 0px 5px black, 0px 0px 15px black;
}

#quiz-box button {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}
#quiz-box button:hover {
    transition: .4s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    box-shadow: 0px 0px 5px black, 0px 0px 15px black;
}

h1 {
    font-size: 35px;
    font-weight: 900;
}
.front-page p {
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin-left: 70px;
}
.start-btn button{
    background: red;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 220px;
}
.start-btn button:hover {
    transition: .4s;
    background-color: black;
    color: white;
    transform: scale(1.2);
    box-shadow: 0px 0px 5px black, 0px 0px 15px black;
}

/* #quiz-box  div,section,span,p,button,footer,header{ 
    background-color: white;
    border-radius: 5px;
} */

 